@font-face {
    font-family: retroGaming;
    src: url(../fonts/retro_gaming.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: retroGaming, sans-serif;
}
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151515
        url("https://i.ibb.co/Ytf7HnJ/18-CADV-021-Landing-Page-Background-R2.png")
        no-repeat fixed;
    background-size: cover;
}
.container {
    position: relative;
    top: 55px; /* Offset for the navbar */
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}
.container .card:nth-child(odd) {
    flex-direction: row;
    text-align: left;
}
.container .card:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}
.container .card .imgStep {
    position: relative;
    left: 25px;
    width: 500px;
    height: 400px;
    z-index: 1;
}
.container .card .imgStep img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card:nth-child(even) .imgStep {
    left: -25px;
}
.container .card .contentStep {
    position: relative;
    right: 25px;
    width: 500px;
    height: 400px;
    background: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 60px 20px 100px;
}
.container .card:nth-child(even) .contentStep {
    align-items: flex-end;
    right: -25px;
    padding: 20px 100px 20px 60px;
}
.container .card .contentStep:before {
    content: "";
    position: absolute;
    top: -50px;
    bottom: -50px;
    left: 0;
    right: 0;
    background: #000;
    z-index: -1;
}
.container .card .contentStep h2 {
    font-size: 30px;
    color: #fff;
}
.container .card .contentStep p {
    margin-top: 10px;
    color: #fff;
}
.container .card .contentStep a {
    display: inline-block;
    margin-top: 15px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #fff;
}
.container .card .contentStep a:hover {
    background: #fff !important;
    color: #000;
}
@media (max-width: 1000px) {
    .container .card {
        flex-direction: column-reverse !important;
        max-width: 350px;
        margin: 25px;
    }
    .container .card .imgStep {
        width: 100%;
        height: 250px;
        left: 0;
    }
    .container .card .contentStep {
        width: 100%;
        height: auto;
        right: 0;
        padding: 30px;
        text-align: center;
        align-items: center !important;
    }
    .container .card .contentStep:before {
        top: 0;
        bottom: 0;
    }
    .container .card:nth-child(even) .imgStep {
        left: 0px;
    }
    .container .card:nth-child(even) .contentStep {
        right: 0;
        padding: 30px;
    }
}
