.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  background-color: purple;
  z-index: 2;
  box-shadow: 1px 1px 3px 3px #080808;
}
.navbar .nav_link {
  text-decoration: none;
  color: white;
  padding: 1rem;
  border-radius: 2px;
  font-size: 1rem;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../../src/scss/navbar.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAAA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA%22,%22file%22:%22navbar.css%22%7D */
