@font-face {
    font-family: retroGaming;
    src: url(../fonts/retro_gaming.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: retroGaming, sans-serif;
}
body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    background: #151515 url('https://i.ibb.co/xMQV9Hv/18-CADV-021-Landing-Page-Background.png') no-repeat fixed;
    background-size: cover;
}
.landing{
    position: relative;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.landing h1{
    margin: 15px 0 30px 0;
    padding: 0 15px;
    font-size: 8vh;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    background: rgba(0, 0, 0, .5);
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}
.landing h1 span{
    color: yellow;
}
.landing img{
    height: 30vm;
    flex: 0 0 auto;
}
nav{
    margin: 0;
    padding: 20px 0;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
}
nav li{
    list-style: none;
    text-align: center;
    display: block;
    border-right: 1px solid rgba(0, 0, 0, .5);
}
nav li:last-child{
    border-right: none;
}
nav li a{
    text-decoration: none;
    padding: 0 50px;
    display: block;
}
nav li a .icon {
    max-width: 50px;
    max-height: 50px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
}
nav li a .icon img{
    width: 100%;
    height: 100%;
    line-height: 40px;
    transition: 0.5s;
}
nav li a:hover .icon img{
    transform: translateY(-108%);
}
nav li a .icon .fill{
    filter: invert(11%) sepia(52%) saturate(1704%) hue-rotate(220deg) brightness(87%) contrast(104%);
}
nav li a .name{
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
    color: #000;
}
nav li a .name span{
    display: block;
    position: relative;
    filter: invert(11%) sepia(52%) saturate(1704%) hue-rotate(220deg) brightness(87%) contrast(104%);
    transition: 0.5s;
}
nav li a .name span:before{
    content: attr(data-text);
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;   
}
nav li a:hover .icon .fill{
    filter: invert(68%) sepia(12%) saturate(1921%) hue-rotate(127deg) brightness(95%) contrast(84%);
}
nav li a:hover .name span{
    transform: translateY(20px);
    filter: invert(68%) sepia(12%) saturate(1921%) hue-rotate(127deg) brightness(95%) contrast(84%);
}
@media (max-width: 1000px){
    body{
        width: 90%;
        left: 5%;
    }
    .landing h1{
        margin: 15px 0 0 0;
        font-size: 8vw;
    }
    .landing img{
        margin-top: 20px;
    }
    nav{
        flex-direction: row;
        margin: 0;
        background: none;
        box-shadow: none;
    }
    nav li{
        border: none;
        margin: 1vw;
        padding: 25px 0;
        background: #fff;
        font-size: 3vw;
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, .3);
        flex: 0 1 45%;
    }
    nav li a .icon img{
        margin-top: 0;
    }
}
@media (max-width: 350px){
    nav li{
        flex: 0 1 90%;
        font-size: 6vw;
    }
}