.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    background-color: purple;
    z-index: 2;
    box-shadow: 1px 1px 3px 3px #080808;

    .nav_link {
        text-decoration: none;
        color: white;
        padding: 1rem;
        border-radius: 2px;
        font-size: 1rem;
    }
}
